.sideBar {
  background: #222944;
  padding: 1rem;
  color: white;
  width: 270px;
  height: 100vh;
  position: fixed;
  z-index: 100;
  margin-top: 10px;
}

.anchorTag {
  color: white !important;
  border: none !important;
  padding: 0.7rem 1rem !important;
  text-align: start !important;
}
a {
  border: none !important;
  padding: 0.8rem 1rem !important;
  border: none !important;
  padding: 0.8rem 1rem !important;
  text-align: start !important;
}

@media (max-width: 768px) {
  .sideBar {
    padding-top: 0;
    position: absolute;
    top: 90px;
    height: 90vh;
    z-index: 100;
  }
}
